<tr>
    <td><a href="#details/{{attributes.symbol}}">{{attributes.symbol}}</a></td>
    <td>{{attributes.price}}</td>
    <td {{#if attributes.positiveChange}}class="positive-text"{{else}}class="negative-text"{{/if}}>{{attributes.change}}</td>
    <td {{#if attributes.positiveChange}}class="positive-text"{{else}}class="negative-text"{{/if}}>{{attributes.[change percent]}}</td>
    <td>{{attributes.volume}}</td>
</tr>